In [1]:
import mysql.connector    #to integrate python with mysql we use mysql.connector package

In [2]:
con = mysql.connector.connect(host="localhost",user = "root",password = "admin",database = "PythonClass")

In [9]:
#CRUD


#insert
def insert(ID,Name,Salary):
    res = con.cursor()
    sql = "insert into Employee (ID,Name,Salary) values (%s,%s,%s)"
    data = (ID, Name, Salary)
    res.execute(sql, data)
    con.commit()
    print("Data Insert Success")
    

insert(5,"shobana",30000)

Data Insert Success

In [10]:
def select():
    res = con.cursor()
    sql = "SELECT * from Employee"
    res.execute(sql)
    # result=res.fetchone()
    # result=res.fetchmany(2)
    result = res.fetchall()
    print(result)
    
select()

[(1, 'Jayalatha', 25000), (2, 'sasi', 40000), (3, 'swathi', 30000), (4, 'sushmi', 100000), (5, 'shobana', 30000)]

In [ ]:
def update(ID, Name,Salary,Id):
    res = con.cursor()
    sql = "update Employee set ID=%s,Name=%s,Salary=%s where ID=%s"
    user = (ID,Name,Salary,Id)
    res.execute(sql, user)
    con.commit()
    print("Data Update Success")