In [2]:
#constructor
#abstractraction
#encapsulation

In [7]:
#Abstraction

from abc import ABC,abstractmethod

class Father(ABC):
    def income(self):
        print("use my income")
    def assets(self):
        print("use my asset")
    @abstractmethod
    def study(self):
        pass
    
class Child(Father):
    def study(self):
        print("I am going to study AI")
        

obj1 = Child()
obj1.income()
obj1.study()

use my income
I am going to study AI

In [ ]:
#encapsulation
#Access specifier
#public
#private
#protected

In [22]:
class Encapsulation:
    __aa = 10
    _bb = 20
    c = 30
    d = 0
    
    def __demo(self):
        #print("learning encapsulation")
        #print(self.__aa)
        return self.__aa
    
    newMethod = __demo
class Subclass(Encapsulation):
    pass
        
        
obj = Subclass()
print(obj.c)
print(obj._bb)
#ff = obj.demo()
ee = obj.newMethod()
print(ee)
#print(ff)

30
20
10

In [ ]:
#polymorphism - one function in many forms eg :draw
#method overloading = have all the method with same name but differ in arguements eg: add

#decrators
#iterator
#generator
#lambda map filter reduce
#tkinter
#sql 
#threading
#networking

#regular expression
#api access
#date time
#flask project --template
#data science numpy pandas
#project -- shoppicart,xox came ,crud,tkinter with file handling or tkinter with database...

In [ ]:
#DATABASE

In [1]:
import mysql.connector

In [3]:
con = mysql.connector.connect(host="localhost",user = "root",password = "admin")

In [5]:
import tkinter

In [7]:
root = tkinter.Tk()

In [ ]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

from tabulate import tabulate
import mysql.connector

con = mysql.connector.connect(host="localhost", user="root", password="root", database="python_db")


def insert(name, age, city):
    res = con.cursor()
    sql = "insert into users (name,age,city) values (%s,%s,%s)"
    user = (name, age, city)
    res.execute(sql, user)
    con.commit()
    print("Data Insert Success")


def update(name, age, city,id):
    res = con.cursor()
    sql = "update users set name=%s,age=%s,city=%s where id=%s"
    user = (name, age, city,id)
    res.execute(sql, user)
    con.commit()
    print("Data Update Success")



def select():
    res = con.cursor()
    sql = "SELECT ID,NAME,AGE,CITY from users"
    res.execute(sql)
    # result=res.fetchone()
    # result=res.fetchmany(2)
    result = res.fetchall()
    print(tabulate(result, headers=["ID", "NAME", "AGE", "CITY"]))


def delete(id):
    res = con.cursor()
    sql = "delete from users where id=%s"
    user = (id,)
    res.execute(sql, user)
    con.commit()
    print("Data Delete Success")



while True:
    print("1.Insert Data")
    print("2.Update Data")
    print("3.Select Data")
    print("4.Delete Data")
    print("5.Exit")
    choice = int(input("Enter Your Choice : "))
    if choice == 1:
        name = input("Enter Name : ")
        age = input("Enter Age : ")
        city = input("Enter City : ")
        insert(name, age, city)
    elif choice == 2:
        id = input("Enter The Id : ")
        name = input("Enter Name : ")
        age = input("Enter Age : ")
        city = input("Enter City : ")
        update(name, age, city,id)
    elif choice == 3:
        select()
    elif choice == 4:
        id = input("Enter The Id to Delete : ")
        delete(id)
    elif choice == 5:
        quit()
    else:
        print("Invalid Selection . Please Try Again !")