In [ ]:
sql - stuructured query language DDL - data definition language,DML - data manupulation language,DQL - data query language,DCL,TCL

In [ ]:
#DDL to sturucturee a database or table create,alter,drop,truncate

In [ ]:
#DML - insert,update ,delete

In [ ]:
#DQL - select

In [ ]:
create database databasename -to create a database

In [ ]:
#insert into tablename (Id,Name,age) values (1,"jaya",23)
#update tablename set columnname = value where(condition)
#delete from tablename where(condition)

In [12]:
import mysql.connector    #to integrate python with mysql we use mysql.connector package

In [13]:
con = mysql.connector.connect(host="localhost",user = "root",password = "admin",database = "BesantOnlineBatch")

In [ ]:
#CRUD


#insert
def insert(ID,Name,age):
    res = con.cursor()
    sql = "insert into Student (ID,Name,age) values (%s,%s,%s)"
    data = (ID, Name, age)
    res.execute(sql, data)
    con.commit()
    print("Data Insert Success")
    

insert(3,"shobana",43)

In [17]:
def select():
    res = con.cursor()
    sql = "SELECT * from Student"
    res.execute(sql)
    # result=res.fetchone()
    #result=res.fetchmany(2)
    result = res.fetchall()
    print(result)
    
select()

[(1, 'Jaya', 23), (3, 'shobana', 43)]

In [9]:
def update(ID, Name,age,Id):
    res = con.cursor()
    sql = "update Student set ID=%s,Name=%s,age=%s where ID=%s"
    user = (ID,Name,age,Id)
    res.execute(sql, user)
    con.commit()
    print("Data Update Success")
    
    
update(6,"Mahendiran",23,2)

Data Update Success

In [16]:
def delete(ID):
    res = con.cursor()
    sql = "delete from Student where Id=%s"
    user = (ID,)
    res.execute(sql, user)
    con.commit()
    print("Data Delete Success")
    
delete(6)

Data Delete Success